.text-right {
  text-align: right;
}
.date-time {
  font-family: IsepMisbah, serif;
  font-size: 14px;
}
.city {
  font-family: IsepMisbah, serif;
  font-size: 18px;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.floating {
  position: fixed;
  z-index: 20;
  top: 113px;
  left: 10px;
}
.mt-4 {
  margin-top: 2rem;
}

.bg-card-list {
  background: rgb(255,248,213);
  background: linear-gradient(90deg, rgba(255,248,213,1) 35%, rgba(185,158,24,1) 84%);
}
