<ion-header [translucent]="true" collapse="fade" class="h-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="font">Waktu Sholat</ion-title>
  </ion-toolbar>
  <!--  <ion-toolbar>-->
  <!--    <img-->
  <!--      src="https://static.vecteezy.com/system/resources/thumbnails/002/013/701/small/ramadan-kareem-template-with-3d-realistic-quran-free-vector.jpg"-->
  <!--      alt="banner">-->
  <!--    <ion-title>-->
  <!--      Kuran Ku-->
  <!--    </ion-title>-->
  <!--  </ion-toolbar>-->
</ion-header>

<ion-content class="h-container ion-padding" color="light">

  <ion-searchbar placeholder="Cari Nama Kota" [debounce]="1000" (ionChange)="getCityOnChange($event)"></ion-searchbar>

  <ion-list lines="inset" class="floating" [inset]="true" *ngIf="isSelectedCity">
    <ion-item color="medium" *ngFor="let result of results" (click)="timePray(result.id)">
      <ion-label>{{ result.lokasi }}</ion-label>
    </ion-item>
  </ion-list>

  <!--  <ion-card class="bg-card-list" *ngIf="jadwalSholat">-->
  <!--    <ion-card-header>-->
  <div *ngIf="jadwalSholat" class="flex">
    <p class="city">{{jadwalSholat.data.daerah}}</p>
    <p class="date-time">{{jadwalSholat.data.jadwal.tanggal}}</p>
  </div>
  <!--    </ion-card-header>-->
  <!--  </ion-card>-->

  <ng-container *ngIf="jadwalSholat">
    <div class="relative">
      <img alt="fajar" class="rounded" src="assets/icon/img-background/fajar.png"/>
      <div class="absolute">
        <p class="text-time">Subuh</p>
        <p class="text-time">{{ jadwalSholat.data.jadwal.subuh}}</p>
      </div>
    </div>
    <div class="relative">
      <img alt="fajar" class="rounded" src="assets/icon/img-background/fajar.png"/>
      <div class="absolute">
        <p class="text-time">Terbit</p>
        <p class="text-time">{{ jadwalSholat.data.jadwal.terbit}}</p>
      </div>
    </div>
    <div class="relative">
      <img alt="fajar" class="rounded" src="assets/icon/img-background/dzuhur.png"/>
      <div class="absolute">
        <p class="text-dzuhur">Dhuha</p>
        <p class="text-dzuhur">{{ jadwalSholat.data.jadwal.dhuha}}</p>
      </div>
    </div>
    <div class="relative">
      <img alt="fajar" class="rounded" src="assets/icon/img-background/dzuhur.png"/>
      <div class="absolute">
        <p class="text-dzuhur">Dzuhur</p>
        <p class="text-dzuhur">{{ jadwalSholat.data.jadwal.dzuhur}}</p>
      </div>
    </div>
    <div class="relative">
      <img alt="fajar" class="rounded" src="assets/icon/img-background/ashar.png"/>
      <div class="absolute">
        <p class="text-time">Ashar</p>
        <p class="text-time">{{ jadwalSholat.data.jadwal.ashar}}</p>
      </div>
    </div>
    <div class="relative">
      <img alt="fajar" class="rounded" src="assets/icon/img-background/magrib.png"/>
      <div class="absolute">
        <p class="text-time">Maghrib</p>
        <p class="text-time">{{ jadwalSholat.data.jadwal.maghrib}}</p>
      </div>
    </div>
    <div class="relative">
      <img alt="fajar" class="rounded" src="assets/icon/img-background/isya.png"/>
      <div class="absolute">
        <p class="text-time">Isya</p>
        <p class="text-time">{{ jadwalSholat.data.jadwal.isya}}</p>
      </div>
    </div>
  </ng-container>
  <!--    <ion-card-header>-->
  <!--      <p>Subuh</p>-->
  <!--      <p class="text-right">{{ jadwalSholat.data.jadwal.subuh}}</p>-->
  <!--    </ion-card-header>-->

  <!--  <ion-list>-->
  <!--    <ion-item>-->
  <!--      <ion-searchbar showCancelButton="focus" class="custom"></ion-searchbar>-->

  <!--      <ion-select placeholder="Pilih Kota" [(ngModel)]="selectedCity" (ngModelChange)="timePray(selectedCity)">-->
  <!--        <ion-select-option *ngFor="let item of city" [value]="item.id">{{item.lokasi}}</ion-select-option>-->
  <!--      </ion-select>-->
  <!--    </ion-item>-->
  <!--  </ion-list>-->

  <!--  <ion-card>-->
  <!--    <ion-card-content>-->
  <!--      <p>{{myCity | json}}</p>-->
  <!--    </ion-card-content>-->
  <!--  </ion-card>-->
  <!--  <ion-card>-->
  <!--    <ion-card-content>-->
  <!--      <p>{{myCity.jadwal.dzuhur}}</p>-->
  <!--    </ion-card-content>-->
  <!--  </ion-card>-->
  <!--  <ion-card>-->
  <!--    <ion-card-content>-->
  <!--      <p>{{myCity.jadwal.ashar}}</p>-->
  <!--    </ion-card-content>-->
  <!--  </ion-card>-->
  <!--  <ion-card>-->
  <!--    <ion-card-content>-->
  <!--      <p>{{myCity.jadwal.maghrib}}</p>-->
  <!--    </ion-card-content>-->
  <!--  </ion-card>-->
  <!--  <ion-card>-->
  <!--    <ion-card-content>-->
  <!--      <p>{{myCity.jadwal.isya}}</p>-->
  <!--    </ion-card-content>-->
  <!--  </ion-card>-->
</ion-content>


