<ion-header [translucent]="true" collapse="fade" class="h-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="font">Kumpulan Doa Doa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="h-container" color="light">
  <ion-toolbar>
    <img
      src="assets/icon/Kumpulan-Doa-Keseharian.png"
      alt="banner">
  </ion-toolbar>
  <ion-grid>
    <ng-container>
      <ion-grid>
        <ion-row  *ngFor="let item of categoryDoa">
          <ion-col>
            <ion-card class="bg-card" (click)="convertToSlug(item)">
              <ion-card-header>
<!--                <ion-card-title>{{item}}</ion-card-title>-->
                <ion-card-subtitle class="title-card">{{item}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Here's a small text description.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ion-grid>
</ion-content>


