.font-surah {
  font-family: IsepMisbah, serif;
  font-size: 1.1em;
}
.font {
  font-family: IsepMisbah, serif;
}
.font-sub-surah {
  font-family: IsepMisbah, serif;
  font-size: 11px;
}
.font-number-surah {
  font-family: IsepMisbah, serif;
  font-size: 25px;
}
.h-container {
  height: calc(100vh - 25vh)
}
.h-header {
  height: 25vh;
}
