.font-surah {
  font-family: Noto-Naskh-Arabic-Regular, serif;
  font-size: 11px;
}
.font-Tafsir {
  font-family: Noto-Naskh-Arabic-Regular, serif;
  font-size: 15px;
  color: white;
}
.font-Tafsir-title {
  font-family: Noto-Naskh-Arabic-Regular, serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.font-ayat {
  font-family: IsepMisbah, serif;
  font-size: 30px;
  text-align: right;
  padding-bottom: 4px;
  color: white;
  line-height: 60px
}
.h-container {
  height: calc(100vh - 25vh)
}
.h-header {
  height: 25vh;
}

/*
 * Dark Colors
 * ------------------
 */
